img {
    width: 100%;
    height: auto;
}
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 60px;
}
.h1 {
    text-align: center;
}
.div {
    border-style: double;
  }

/* Đăng Ký */ 
.register-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;  
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  } 
  
  .btn {
    background-color: #0077ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0052cc;
  }

  /* end Đăng Ký*/

  /* bài post */


  /* end post */

  /* form post */

.form-post {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
}

.form-post h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.form-post label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.form-post input[type="text"], .form-post textarea {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
}

.form-post input[type="file"] {
  display: none;
}

.form-post .image-label {
  width: 100px;
  height: 100px;
  border: 1px dashed #ccc;
  margin: 10px auto;
  cursor: pointer;
}

.form-post .image-label img {
  width: 100%;
  height: 100%;
}

.form-post .image-label span {
  display: block;
  text-align: center;
}

.form-post button {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  border: none;
  background-color: #333;
  color: #fff;
}


  /* end form post */